#b-id {
    display: flex;
    justify-content: center;

}

#search_person_id {

    padding: 10px;

}

#ln_id {

    padding: 10px;

}

.module {
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.split {

    display: flex;
    flex-direction: row;
    padding: 15px;

}